<section class="tudo">
  <div class="logo">
    <a href="/"><img src="/assets/imagens/imagens_hme/ondas-sonoras.png" alt=""></a>
  </div>

  <div class="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="../pages/categoria.ejs">Caategoria</a></li>
      <li><a href="#">Sobre</a></li>
    </ul>
  </div>

  <div class="menu_buttom">
    <label id="btn">&#9776</label>
  </div>
</section>
