<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
 <link rel="stylesheet" href="assets/css/style.css" />

  <script src="assets/css/style.css" defer></script>
</head>

<body>


  <section class="tudo">

    <div class="logo"><a href=""><img src="assets/imagens/imagens_hme/ondas-sonoras.png" alt=""></a></div>

    <div class="menu">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="categoria.html">Categoria</a></li>
        <li><a href="">Sobre</a></li>
      </ul>
    </div>


    <div class="menu_buttom">
      <label id="btn">&#9776</label>
    </div>

  </section>


  <section class="meio">

    <div class="card_meio">
      <h1>VIBBBB MUSIC</h1>
      <h2>Ouça e divulgue aqui as suas músicas</h2>
      <p>Telef: +244 942 424 </p>
      <div class="btns">
        <a href={routes/index.js} class="divul">Divulgar</a>
      </div>

    </div>
  </section>



  <section class="explanation">
    <h1>Se você é musico ou um artista e desejas ver a tua música no top clique já em divulgar</h1>
    <h2>E vê a tua música a bater !</h2>

  </section>


  <div class="month_artist">

    <div class="cm">
      <h2>Artistas do mês</h2>
    </div>

  </div>



  <section class="music_category">

    <div class="cards_artistas">
      <a href=""><img src="assets/imagens/imagens_artistas/paulelson.jpg" alt=""></a>
    <a href="">  <h1>Tio Edson ft Kelson monst wanted</h1></a>
      <h2>Lorem ipsum dolor sit amet</h2>
      <a href="" class="dete">Ouvir agora</a>
      <a href="" class="detes">Baixar</a>
    </div>



    <div class="cards_artistas">
      <a href=""><img src="assets/imagens/imagens_artistas/IMG-20250209-WA0012.jpg" alt=""></a>
      <a href="">  <h1>Tio Edson ft Kelson monst wanted</h1></a>
      <h2>Lorem ipsum dolor sit amet</h2>
      <a href="" class="dete">Ouvir agora</a>
      <a href="" class="detes">Baixar</a>
    </div>




    <div class="cards_artistas">
      <a href=""><img src="assets/imagens/imagens_artistas/IMG-20250209-WA0010.jpg" alt=""></a>
      <a href="">  <h1>Tio Edson ft Kelson monst wanted</h1></a>
      <h2>Lorem ipsum dolor sit amet</h2>
      <a href="" class="dete">Ouvir agora</a>
      <a href="" class="detes">Baixar</a>
    </div>


    <div class="cards_artistas">
      <a href=""><img src="assets/imagens/imagens_artistas/12furos.jpg" alt=""></a>
     <a href="">  <h1>Tio Edson ft Kelson monst wanted</h1></a>
      <h2>Lorem ipsum dolor sit amet</h2>
      <a href="" class="dete">Ouvir agora</a>
      <a href="" class="detes">Baixar</a>
    </div>



  </section>



  <div class="month_artist">

    <div class="cm">
      <h2>Mais curtidas</h2>
    </div>
  </div>


  <section class="good">



    <div class="all">

      <div class="card_good">

        <a href=""><img src="assets/imagens/imagens_artistas/preto_show.jpg" alt=""></a>

        <div>
          <h3>Lorem ipsum dolor sit</h3>
          <a href="">Preto Show</a>
        </div>

      </div>



      <div class="card_good">

        <a href=""><img src="assets/imagens/imagens_artistas/12furos.jpg" alt=""></a>

        <div>
          <h3>Lorem ipsum dolor sit</h3>
          <a href="">12 Furos</a>
        </div>

      </div>

    </div>






    <div class="twice">


      <div class="card_good">
        <a href=""><img src="assets/imagens/imagens_artistas/IMG-20250209-WA0012.jpg" alt=""></a>

        <div>
          <h3>Lorem ipsum dolor sit</h3>
          <a href="">Plutónio</a>
        </div>

      </div>


      <div class="card_good">

        <a href=""><img src="assets/imagens/imagens_artistas/xuxu.jpg" alt=""></a>

        <div>
          <h3>Lorem ipsum dolor sit</h3>
          <a href="">Xuxu Bower</a>
        </div>

      </div>


      <div class="card_good">

        <a href=""><img src="assets/imagens/imagens_artistas/IMG-20250209-WA0010.jpg" alt=""></a>

        <div>
          <h3>Lorem ipsum dolor sit</h3>
          <a href="">Agostrap ft Special one</a>
        </div>

      </div>

    </div>

  </section>



  <footer class="rodape">

    <p>Copyright ©2025. All Rights Reserved</p>

    <div class="riscas"></div>



  </footer>





<script src="assets/js/accao.js"></script>

</body>

</html>