<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descrição</title>
    <link rel="stylesheet" href="assets/css/style.css">
      <script src="assets/js/accao.js" defer></script>
</head>
<body>
     <section class="tudo">

        <div class="logo"><a href=""><img src="assets/imagens_hme/ondas-sonoras.png" alt=""></a></div>

        <div class="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="categoria.html">Categoria</a></li>
                <li><a href="">Sobre</a></li>
            </ul>
        </div>


        <div class="menu_buttom">
            <label id="btn">&#9776</label>
        </div>

    </section>



<section class="chosing">

    
<div class="foto_artista">

 <img src="assets/imagens_artistas/paulelson.jpg" alt=""> 
</div>


<div class="informacao_artista">
 <h3>Paulelson Ft Special one</h3>
<p>Titulo da musica</p>

<h2>Sobre o/a</h2>
<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nobis, nulla ea, provident similique labore qui velit quibusdam reprehenderit modi mollitia voluptatem dolorum ex culpa aut sed voluptatibus suscipit molestiae?</h4>


<div class="donwloads">
<a href="" class="baixador">Baixar</a>
<a href="" class="listening">Ouvir</a>

</div>

</div>





</section>






 <footer class="rodape">

   <p>Copyright ©2025. All Rights Reserved</p>

   <div class="riscas"></div>



    </footer> 


</body>
</html>