<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kuduro</title>
    <link rel="stylesheet" href="assets/css/style.css">
      <script src="assets/js/accao.js" defer></script>
</head>

<body>
    <section class="tudo">

        <div class="logo"><a href=""><img src="assets/imagens_hme/ondas-sonoras.png" alt=""></a></div>

        <div class="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="categoria.html">Categoria</a></li>
                <li><a href="">Sobre</a></li>
            </ul>
        </div>


        <div class="menu_buttom">
            <label id="btn">&#9776</label>
        </div>

    </section>






    <section class="dizeres">

        <div class="explanation_gener">

            <div class="cima">
                <h2>Kuduro</h2>
                <h3>Ouça nossas aqui as tuas músicas favoritas</h3>
            </div>

            <div class="baixo">
                <h4>Kuduro, House, Hip hop, Kizomba... Temos tudo que você procura e muito mais.</h4>

                <h5> Encontre as músicas ainda mais rápido por pesquisa-las aqui !</h5>

            </div>

        </div>



    </section>


    <section class="pesquisar">
        <p>Pesquisar</p>
        <input type="search" placeholder="Pesquisar">

    </section>



    <section class="resultado_da_pesquisa">

        <div class="search_music_one">

            <div class="children">
                <img src="assets/imagens_artistas/IMG-20250209-WA0012.jpg" alt="">

                <div class="title_of_artist">
                    <h3><a href="descricao.html">Agostrap ft Flávio moreno</a></h3>
                    <p>Titulo da musica</p>
                    <div class="duracao">
                        <img src="assets/imagen_categorias/history.png" alt="">
                        <p>03:00</p>
                    </div>
                  
                </div>

            </div>


            <div class="children">
                <img src="assets/imagens_artistas/IMG-20250209-WA0012.jpg" alt="">
                <div class="title_of_artist">
                   <h3><a href="descricao.html">Agostrap ft Flávio moreno</a></h3>
                    <p>Titulo da musica</p>
                     <div class="duracao">
                        <img src="assets/imagen_categorias/history.png" alt="">
                        <p>03:00</p>
                    </div>
                </div>

            </div>


            <div class="children">
                <img src="assets/imagens_artistas/IMG-20250209-WA0012.jpg" alt="">
                <div class="title_of_artist">
                    <h3><a href="descricao.html">Agostrap ft Flávio moreno</a></h3>
                    <p>Titulo da musica</p>
                     <div class="duracao">
                        <img src="assets/imagen_categorias/history.png" alt="">
                        <p>03:00</p>
                    </div>
                </div>

            </div>
            <div class="children">
                <img src="assets/imagens_artistas/IMG-20250209-WA0012.jpg" alt="">
                <div class="title_of_artist">
                   <h3><a href="descricao.html">Agostrap ft Flávio moreno</a></h3>
                    <p>Titulo da musica</p>
                     <div class="duracao">
                        <img src="assets/imagen_categorias/history.png" alt="">
                        <p>03:00</p>
                    </div>
                </div>

            </div>
            <div class="children">
                <img src="assets/imagens_artistas/IMG-20250209-WA0012.jpg" alt="">
                <div class="title_of_artist">
                   <h3><a href="descricao.html">Agostrap ft Flávio moreno</a></h3>
                    <p>Titulo da musica</p>
                     <div class="duracao">
                        <img src="assets/imagen_categorias/history.png" alt="">
                        <p>03:00</p>
                    </div>
                </div>

            </div>

            <div class="children">
                <img src="assets/imagens_artistas/IMG-20250209-WA0012.jpg" alt="">
                <div class="title_of_artist">
                    <h3><a href="descricao.html">Agostrap ft Flávio moreno</a></h3>
                    <p>Titulo da musica</p>
                     <div class="duracao">
                        <img src="assets/imagen_categorias/history.png" alt="">
                        <p>03:00</p>
                    </div>
                </div>

            </div>
            <div class="children">
                <img src="assets/imagens_artistas/IMG-20250209-WA0012.jpg" alt="">
                <div class="title_of_artist">
               <h3><a href="descricao.html">Agostrap ft Flávio moreno</a></h3>
                    <p>Titulo da musica</p>
                     <div class="duracao">
                        <img src="assets/imagen_categorias/history.png" alt="">
                        <p>03:00</p>
                    </div>
                </div>

            </div>


        </div>





        <div class="search_music_two">
            <div class="filhos">
                <img src="assets/imagens_artistas/IMG-20250209-WA0012.jpg" alt="">
                <div class="title_of_artist">
                <h3><a href="descricao.html">Agostrap ft Flávio moreno</a></h3>
                    <p>Titulo da musica</p>
                     <div class="duracao">
                        <img src="assets/imagen_categorias/history.png" alt="">
                        <p>03:00</p>
                    </div>
                </div>


            </div>
            <div class="filhos">
                <img src="assets/imagens_artistas/IMG-20250209-WA0012.jpg" alt="">
                <div class="title_of_artist">
                   <h3><a href="descricao.html">Agostrap ft Flávio moreno</a></h3>
                    <p>Titulo da musica</p>
                     <div class="duracao">
                        <img src="assets/imagen_categorias/history.png" alt="">
                        <p>03:00</p>
                    </div>
                </div>


            </div>
            <div class="filhos">
                <img src="assets/imagens_artistas/IMG-20250209-WA0012.jpg" alt="">
                <div class="title_of_artist">
                   <h3><a href="descricao.html">Agostrap ft Flávio moreno</a></h3>
                    <p>Titulo da musica</p>
                     <div class="duracao">
                        <img src="assets/imagen_categorias/history.png" alt="">
                        <p>03:00</p>
                    </div>
                </div>


            </div>
            <div class="filhos">
                <img src="assets/imagens_artistas/IMG-20250209-WA0012.jpg" alt="">
                <div class="title_of_artist">
                   <h3><a href="descricao.html">Agostrap ft Flávio moreno</a></h3>
                    <p>Titulo da musica</p>
                     <div class="duracao">
                        <img src="assets/imagen_categorias/history.png" alt="">
                        <p>03:00</p>
                    </div>
                </div>


            </div>
            <div class="filhos">
                <img src="assets/imagens_artistas/IMG-20250209-WA0012.jpg" alt="">
                <div class="title_of_artist">
                   <h3><a href="descricao.html">Agostrap ft Flávio moreno</a></h3>
                    <p>Titulo da musica</p>
                     <div class="duracao">
                        <img src="assets/imagen_categorias/history.png" alt="">
                        <p>03:00</p>
                    </div>
                </div>


            </div>
            <div class="filhos">
                <img src="assets/imagens_artistas/IMG-20250209-WA0012.jpg" alt="">
                <div class="title_of_artist">
                 <h3><a href="descricao.html">Agostrap ft Flávio moreno</a></h3>
                    <p>Titulo da musica</p>
                     <div class="duracao">
                        <img src="assets/imagen_categorias/history.png" alt="">
                        <p>03:00</p>
                    </div>
                </div>


            </div>
            <div class="filhos">
                <img src="assets/imagens_artistas/IMG-20250209-WA0012.jpg" alt="">
                <div class="title_of_artist">
                   <h3><a href="descricao.html">Agostrap ft Flávio moreno</a></h3>
                    <p>Titulo da musica</p>
                     <div class="duracao">
                        <img src="assets/imagen_categorias/history.png" alt="">
                        <p>03:00</p>
                    </div>
                </div>


            </div>

        </div>





    </section>



 <footer class="rodape">

   <p>Copyright ©2025. All Rights Reserved</p>

   <div class="riscas"></div>



    </footer> 

</body>

</html>